Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write --config .prettierrc"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc",
    "git add"
  ]
}

feat: update razzle to version 4
  .eslintrc
  package.json
  razzle.config.js
  src/pages/routes.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat: add tailwind and fix building
  postcss.config.js
  src/app/application.tsx
  src/features/card/draft/ui/atoms/reset-changes.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/atoms/tags.tsx
  src/features/search-bar/molecules/search.tsx
  src/pages/card/edit/page.tsx
  src/pages/search/page.tsx
  src/pages/user/page.tsx
  tailwind.config.js
Due: prettier --write --config .prettierrc

fix: razzle build on ci
  package.json
Due: prettier --write --parser json --config .prettierrc

feat: prevent same url navigation
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc

fix: change check to size
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc

BOX-293 Деграется карточка при ее нажатии на самой ее странице (#92)
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc

chore(pages/comments): fix building
  src/pages/comments/comments.tsx
Due: prettier --write --config .prettierrc

fix: downgrade version of mini-css-extract-plugin to 1.6.2
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

BOX-294 Fix mini-css-extract-plugin version (#93)
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

fix: remove unused code
  src/app/server.tsx
  src/entities/card/model/index.ts
  worker/transport.mjs
Due: prettier --write --config .prettierrc

feat: add opengraph feature
  .babelrc.js
  .env.sample
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/opengraph/index.tsx
  src/pages/card/view/model.ts
Due: prettier --write --config .prettierrc

fix: replace pino with console, temporary
  Dockerfile
  package.json
  src/shared/lib/logger/index.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: root path should be absolute in static
  src/app/server.tsx
Due: prettier --write --config .prettierrc

feat: upgrade razzle and remove some trace logs
  src/app/server.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

feat: upgrade effector and speedup unauthorized page response
  src/entities/session/model/main.ts
  src/pages/home/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc

fix: warning about nonexistent hatch
  .babelrc.js
  src/pages/error404/index.tsx
  src/pages/search/index.ts
Due: prettier --write --config .prettierrc

feat!: upgrade to react18
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

fix: issues with react18 types
  package.json
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/session/molecules/session-panel.tsx
  src/entities/session/molecules/show-only.tsx
  src/entities/user/ui/user-card.tsx
  src/entities/user/ui/user-preview.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/atoms/tags.tsx
  src/pages/user/page.tsx
  src/shared/ui/atoms/empty.tsx
  src/shared/ui/atoms/skeleton.tsx
  src/shared/ui/atoms/text.tsx
  src/shared/ui/atoms/toast.tsx
  src/shared/ui/molecules/chip.tsx
  src/shared/ui/molecules/tabs/tab.tsx
  src/shared/ui/templates/content-centered.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

chore: remove warning about tags
  src/features/card/draft/ui/atoms/tag-input.tsx
Due: prettier --write --config .prettierrc

feat: disable invite page
  src/app/application.tsx
Due: prettier --write --config .prettierrc

refactor: remove useages of paths
  package.json
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/model/main.ts
  src/entities/session/molecules/session-panel.tsx
  src/entities/user/ui/user-card.tsx
  src/entities/user/ui/user-preview-list.tsx
  src/entities/user/ui/user-preview.tsx
  src/features/search-bar/models/index.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/index.ts
  src/pages/card/create/model.ts
  src/pages/card/edit/model.ts
  src/pages/card/edit/page.tsx
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
  src/pages/comments/comments.tsx
  src/pages/index.ts
  src/pages/index.tsx
  src/pages/search/page.tsx
  src/shared/routes.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

refactor: remove hatch usages
  src/entities/navigation/index.ts
  src/entities/opengraph/index.tsx
  src/entities/session/index.ts
  src/entities/session/only-hooks.ts
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/atoms/tags.tsx
  src/features/search-bar/molecules/search.tsx
  src/pages/card/create/index.tsx
  src/pages/card/create/model.ts
  src/pages/card/edit/index.tsx
  src/pages/card/edit/model.ts
  src/pages/card/edit/page.tsx
  src/pages/card/view/index.tsx
  src/pages/card/view/model.ts
  src/pages/comments/index.tsx
  src/pages/error404/index.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/index.tsx
  src/pages/oauth-done/index.ts
  src/pages/oauth-done/model.ts
  src/pages/search/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/pages/user/model.ts
  src/pages/user/page.tsx
  src/shared/lib/contract/contract.test.ts
  src/shared/lib/contract/index.ts
  src/shared/lib/contract/readme.md
  src/shared/routes.ts
Due: prettier --write --config .prettierrc

fix: type errors
  src/entities/navigation/index.ts
  src/entities/user/ui/user-preview.tsx
Due: prettier --write --config .prettierrc

feat: upgrade to a webpack 5
  package.json
  razzle.config.js
  src/app/opentelemetry/config.ts
  src/entities/card/organisms/card-preview.tsx
  src/shared/api/request/base.ts
  src/shared/api/request/server.ts
  src/shared/ui/atoms/cardbox-logo.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

refactor: migrate from react-router into atomic-router
  package.json
  src/app/application.test.tsx
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/navigation/index.ts
  src/entities/session/index.ts
  src/entities/session/model/main.ts
  src/entities/user/ui/user-card.tsx
  src/features/search-bar/lib.ts
  src/pages/index.tsx
  src/shared/api/request/base.ts
  src/shared/api/request/index.ts
  src/shared/lib/page-routing.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

refactor: remove framework and use @effector/contract
  .babelrc.js
  package.json
  src/app/server.tsx
  src/pages/card/edit/index.tsx
  src/pages/card/view/index.tsx
  src/pages/home/index.tsx
  src/pages/oauth-done/index.ts
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: use actual listen for of fastify server
  src/index.ts
Due: prettier --write --config .prettierrc

refactor: migrate to renderToString due styles do not support streams
  src/app/server.tsx
Due: prettier --write --config .prettierrc

chore: trying to fix SSR route matching
  .babelrc.js
  README.md
  package.json
  src/app/client.tsx
  src/app/server.tsx
  src/entities/navigation/index.ts
  src/pages/paths.ts
  src/pages/routes.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: ssr route resolving
  package.json
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/user/ui/user-card.tsx
  src/entities/user/ui/user-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/edit/page.tsx
  src/pages/card/view/page.tsx
  src/pages/comments/comments.tsx
  src/pages/index.tsx
  src/pages/search/page.tsx
  src/shared/routes.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: handle custom history push on auth done
  src/app/client.tsx
  src/app/server.tsx
  src/entities/navigation/index.ts
  src/pages/home/model.ts
Due: prettier --write --config .prettierrc

feat: upgrade nodejs version to 18.x
  Dockerfile
  package.json
Due: prettier --write --parser json --config .prettierrc

refactor: fully rewrite entities and start rewriting search
  src/entities/card/index.ts
  src/entities/card/model/index.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/features/search-bar/index.ts
  src/features/search-bar/models/index.ts
  src/pages/card/view/model.ts
  src/pages/home/model.ts
  src/pages/search/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/pages/user/model.ts
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

refactor(entities/session): cleanup models
  src/entities/search/model.ts
  src/entities/search/molecules/highlight-text.tsx
  src/entities/session/index.ts
  src/entities/session/model/index.ts
  src/entities/session/model/login.ts
  src/entities/session/model/logout.ts
  src/entities/session/model/main.ts
  src/entities/session/model/session.ts
  src/entities/session/molecules/session-panel.tsx
Due: prettier --write --config .prettierrc

chore(entities/session): move fx to a correct model
  src/entities/session/model/login.ts
  src/entities/session/model/logout.ts
Due: prettier --write --config .prettierrc

refactor: search entity with the search page
  .babelrc.js
  razzle.config.js
  src/app/application.css
  src/entities/search/index.ts
  src/entities/search/model.ts
  src/entities/user/model/index.ts
  src/features/search-bar/index.ts
  src/features/search-bar/models/index.ts
  src/features/search-bar/molecules/search.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/search/types.ts
Due: prettier --write --config .prettierrc
