Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

review(mock-api): refine card-previews styles (+ adapt for type)
  src/entities/card/organisms/card-preview.tsx
  src/pages/card/index.tsx
Due: prettier --write --config .prettierrc

review(mock-api): simplify gitatributes
  .gitattributes
Due: none

review(mock-api): simplify types
  src/api/internal/index.ts
Due: prettier --write --config .prettierrc

Update src/entities/card/model/index.ts
  src/entities/card/model/index.ts
Due: prettier --write --config .prettierrc

fix(app): regenerate yarn lock
  src/entities/card/model/index.ts
  yarn.lock
Due: prettier --write --config .prettierrc

fix(app): fixes letter dublicates in user search
  src/entities/user/organisms/user-preview.tsx
Due: prettier --write --config .prettierrc

Update .gitignore
  .gitignore
Due: none

BOX-65 add search page (#36)
  .gitignore
  src/entities/card/model/index.ts
  src/features/search-bar/molecules/search.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

fix(features): card preview - make clickable
  global.ignores.css
  package.json
  src/api/mock/fixtures.ts
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/navigation/index.ts
  src/features/search-bar/molecules/search.tsx
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/ui/templates/paper-container.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): regenerate yarn lock (again)
  yarn.lock
Due: none

fix(app): regenerate lock
  yarn.lock
Due: none

fix(app): remove package lock
  .gitignore
Due: none

fix: fixed
  src/entities/card/organisms/card-preview.tsx
  src/pages/card/index.tsx
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

BOX-137 fix letter duplicate for user search page (#37)
  src/entities/user/organisms/user-preview.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

fix(features): card list
  src/api/mock/fixtures.ts
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc

Create DEMO
  DEMO
Due: none

ci(linear-linker): use actual action
  .github/workflows/linear-linker.yml
Due: none

BOX-60 BOX-26 User page and card view page (#27)
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/index.tsx
  src/pages/user/index.tsx
  src/shared/constants.ts
  src/ui/atoms/button.tsx
  src/ui/icons/default_userlogo.svg
  src/ui/icons/index.ts
  src/ui/icons/like.svg
  src/ui/icons/user_bg.svg
  src/ui/index.ts
  src/ui/molecules/index.ts
  src/ui/molecules/tab.tsx
  src/ui/molecules/tabs.tsx
  src/ui/molecules/title.tsx
Due: prettier --write --config .prettierrc

BOX-130: @chore(meta-info): add page titles
  src/app/application.tsx
  src/pages/card/index.tsx
  src/pages/card/model.ts
  src/pages/comments/comments.tsx
  src/pages/error404/index.tsx
  src/pages/home/index.tsx
  src/pages/search/page.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

BOX-130: @chore(meta-info): update favicon
  public/favicon.ico
Due: none

build: remove pr-labeler
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Due: none

BOX-130: Add meta info (#40)
  public/favicon.ico
  src/app/application.tsx
  src/pages/card/index.tsx
  src/pages/card/model.ts
  src/pages/comments/comments.tsx
  src/pages/error404/index.tsx
  src/pages/home/index.tsx
  src/pages/search/page.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

BOX-112: user page
  src/api/internal/index.ts
  src/api/mock/fixtures.ts
  src/api/mock/index.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/pages/author/index.tsx
  src/pages/author/model.ts
  src/pages/card/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
Due: prettier --write --config .prettierrc

feat(api): adds simulation from api - adds reaction to search params
  src/api/internal/index.ts
  src/api/mock/index.ts
  src/features/search-bar/index.ts
  src/features/search-bar/models/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

fix(app): changes from review
  src/api/mock/index.ts
  src/features/search-bar/models/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

fix(app): review changes
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc

fix(app): review changes
  src/api/mock/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/pages/search/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc

fix(app): review
  src/entities/user/organisms/user-preview.tsx
Due: prettier --write --config .prettierrc

BOX-112: add skeleton for user page, also combine author page and user page
  src/pages/author/index.tsx
  src/pages/author/model.ts
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/pages/user/model.ts
  src/pages/user/skeleton.tsx
Due: prettier --write --config .prettierrc

BOX-112: add syntax mistakes fix
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/pages/user/skeleton.tsx
Due: prettier --write --config .prettierrc

BOX-112: fix contract, also change user cards field
  src/api/mock/fixtures.ts
  src/api/types.ts
  src/pages/paths.ts
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

BOX-112: fix review
  src/api/mock/fixtures.ts
  src/api/types.ts
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/pages/user/model.ts
Due: prettier --write --config .prettierrc

fix(app): fixed autocomplete from tsconfig|styles (glogal props)
  src/api/mock/index.ts
  src/app/application.tsx
  src/app/custom-props.css
  tsconfig.json
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

style: move focus funcs to hook
  src/entities/card/organisms/card-list.tsx
  src/lib/use-focus.ts
Due: prettier --write --config .prettierrc

BOX-112: review
  src/api/types.ts
  src/pages/user/index.tsx
  src/pages/user/model.ts
Due: prettier --write --config .prettierrc

fix(app): review
  src/entities/card/organisms/card-list.tsx
  src/features/search-bar/models/index.ts
  src/lib/use-keyboard-focus.ts
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

fix(app): fixes card click on button
  src/entities/card/organisms/card-preview.tsx
  src/lib/use-mouse-selection.ts
Due: prettier --write --config .prettierrc

Path conditions:
  prettier --write --config .prettierrc: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json --config .prettierrc: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
