Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write --config .prettierrc"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc",
    "git add"
  ]
}

feat: add debug via EFFECTOR_DEBUG=true
  .babelrc.js
  src/app/client.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

Merge with master
  src/features/search-bar/organisms/search-bar.tsx
Due: prettier --write --config .prettierrc

feat: add card empty text
  src/pages/card/view/page.tsx
  src/ui/atoms/empty.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

feat: add user page empty text
  src/entities/user/ui/user-preview-list.tsx
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

feat: add user page empty text
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

BOX-207: Update styles according to design (#65)
  package.json
  razzle.config.js
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/molecules/session-panel.tsx
  src/entities/user/ui/user-card.tsx
  src/entities/user/ui/user-preview.tsx
  src/features/card/draft/ui/atoms/reset-changes.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/molecules/index.tsx
  src/features/search-bar/molecules/search.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/lib/theme.ts
  src/pages/card/view/page.tsx
  src/pages/comments/index.tsx
  src/pages/home/page.tsx
  src/pages/user/page.tsx
  src/pages/user/skeleton.tsx
  src/ui/atoms/avatar.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/input.tsx
  src/ui/atoms/skeleton.tsx
  src/ui/atoms/toast.tsx
  src/ui/icons/arrow-right.svg
  src/ui/icons/deck-arrow.svg
  src/ui/icons/deck-check.svg
  src/ui/icons/edit.svg
  src/ui/icons/index.ts
  src/ui/molecules/chip.tsx
  src/ui/templates/content-centered.tsx
  typings/index.d.ts
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: fix some bugs
  src/pages/card/edit/page.tsx
  src/pages/card/view/page.tsx
  src/ui/atoms/empty.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

fix: fix conflicts
  src/pages/card/view/page.tsx
Due: prettier --write --config .prettierrc

fix: add dependencies to yarn-lock file
  yarn.lock
Due: none

fix: styles for "new card" button
  src/features/search-bar/organisms/search-bar.tsx
Due: prettier --write --config .prettierrc

BOX-204: @refactor(shared): unify shared/config
  src/app/server.tsx
  src/entities/navigation/index.ts
  src/index.ts
  src/shared/api/request/base.ts
  src/shared/api/request/client.ts
  src/shared/api/request/index.ts
  src/shared/api/request/server.ts
  src/shared/config/env.ts
  src/shared/config/index.ts
  src/shared/lib/logger/index.ts
Due: prettier --write --config .prettierrc

BOX-204: @review(shared): self-reviewed
  src/app/server.tsx
  src/shared/config/env.ts
Due: prettier --write --config .prettierrc

Box 207: hotfix (#68)
  src/features/search-bar/organisms/search-bar.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

BOX-216: @fix(tags): fix reflect
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/atoms/tags.tsx
Due: prettier --write --config .prettierrc

BOX-216: @chore(tags): update reflect to 7.0.0 (latest, for fix)
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

BOX-216: @refactor(tags): return back reflect
  src/features/card/draft/ui/atoms/tags.tsx
Due: prettier --write --config .prettierrc

fix: fix conflicts
  src/index.ts
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

fix: fix some errors
  src/entities/user/ui/user-preview-list.tsx
  src/index.ts
  src/pages/home/page.tsx
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix: fix some errors
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix: updated @effector/reflect
  package.json
  src/pages/card/view/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: updated user page
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix: building
  src/pages/card/edit/page.tsx
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
Due: prettier --write --config .prettierrc

feat: upgrade reflect
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

feat: move to nodejs 16
  Dockerfile
Due: none

fix: some fix
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

BOX-191 handle the 404 error for a user page (#67)
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix: fix user page model
  src/pages/card/view/page.tsx
  src/pages/user/model.ts
Due: prettier --write --config .prettierrc

Adaptive home page without fonts
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/home/page.tsx
  src/shared/ui/templates/content-centered.tsx
  src/shared/ui/templates/paper-container.ts
Due: prettier --write --config .prettierrc

fix(pages/user): $isUserFound should not be exported
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix(app): check use ssl for "true" not for boolean(string)
  src/shared/config/env.ts
Due: prettier --write --config .prettierrc

fix(app): remove react-render-tracker
  src/app/server.tsx
Due: prettier --write --config .prettierrc

fix(pages): comment out comments route
  src/pages/routes.ts
Due: prettier --write --config .prettierrc

WIP: Update breakpoints, change cards list grid
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/view/page.tsx
  src/pages/home/page.tsx
  src/shared/lib/breakpoints.ts
  src/shared/ui/atoms/text.tsx
  src/shared/ui/atoms/toast.tsx
  src/shared/ui/templates/content-centered.tsx
Due: prettier --write --config .prettierrc

ci(linear): add edit and draft triggers
  .github/workflows/linear-linker.yml
Due: none

feat: Add font TT Hover
  src/app/application.tsx
  src/app/styles/global-fonts.ts
  src/shared/assets/fonts/TT_Hoves_Black.woff2
  src/shared/assets/fonts/TT_Hoves_Black_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Bold.woff2
  src/shared/assets/fonts/TT_Hoves_Bold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_DemiBold.woff2
  src/shared/assets/fonts/TT_Hoves_DemiBold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraBold.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraBold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraLight.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraLight_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Hairline.woff2
  src/shared/assets/fonts/TT_Hoves_Hairline_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Light.woff2
  src/shared/assets/fonts/TT_Hoves_Light_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Medium.woff2
  src/shared/assets/fonts/TT_Hoves_Medium_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Regular.woff2
  src/shared/assets/fonts/TT_Hoves_Thin.woff2
  src/shared/assets/fonts/TT_Hoves_Thin_Italic.woff2
  src/shared/ui/atoms/text.tsx
  typings/index.d.ts
Due: prettier --write --config .prettierrc

feat(pages): More link in Help us message line should hav href
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

ci(release-drafter): add more labels
  .github/release-drafter.yml
Due: none

BOX-220: Added TT Hover fonts (#74)
  src/app/application.tsx
  src/app/styles/global-fonts.ts
  src/shared/assets/fonts/TT_Hoves_Black.woff2
  src/shared/assets/fonts/TT_Hoves_Black_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Bold.woff2
  src/shared/assets/fonts/TT_Hoves_Bold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_DemiBold.woff2
  src/shared/assets/fonts/TT_Hoves_DemiBold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraBold.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraBold_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraLight.woff2
  src/shared/assets/fonts/TT_Hoves_ExtraLight_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Hairline.woff2
  src/shared/assets/fonts/TT_Hoves_Hairline_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Light.woff2
  src/shared/assets/fonts/TT_Hoves_Light_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Medium.woff2
  src/shared/assets/fonts/TT_Hoves_Medium_Italic.woff2
  src/shared/assets/fonts/TT_Hoves_Regular.woff2
  src/shared/assets/fonts/TT_Hoves_Thin.woff2
  src/shared/assets/fonts/TT_Hoves_Thin_Italic.woff2
  src/shared/ui/atoms/text.tsx
  typings/index.d.ts
Due: prettier --write --config .prettierrc
