Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

refactor(pages): move card/create to hatch
  src/pages/card/create/index.tsx
  src/pages/card/create/model.ts
  src/pages/card/create/page.tsx
Due: prettier --write --config .prettierrc

refactor(pages): move card edit page to hatch
  src/pages/card/edit/index.tsx
  src/pages/card/edit/model.ts
  src/pages/card/edit/page.tsx
Due: prettier --write --config .prettierrc

refactor(pages): move card view page to hatch
  src/pages/card/view/index.tsx
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
Due: prettier --write --config .prettierrc

refactor(pages): fix naming on oauth done page
  src/pages/oauth-done/model.ts
Due: prettier --write --config .prettierrc

refactor(pages): move user page to hatch
  src/pages/user/index.tsx
  src/pages/user/model.ts
  src/pages/user/page.tsx
Due: prettier --write --config .prettierrc

fix(pages): user page skeleton model import
  src/pages/user/skeleton.tsx
Due: prettier --write --config .prettierrc

refactor: change naming
  src/app/server.tsx
Due: prettier --write --config .prettierrc

chore(WARNING): contract don't work in page and model
  .babelrc
  src/api/request/base.ts
  src/entities/card/model/index.ts
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
Due: prettier --write --config .prettierrc

fix(pages): card view page connection
  src/pages/card/view/page.tsx
Due: prettier --write --config .prettierrc

fix(pages): card view page building
  src/pages/card/view/model.ts
Due: prettier --write --config .prettierrc

refactor(pages): move home page to hatch
  src/entities/card/model/index.ts
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

feat(app): upgrade effector, framework, typescript
  package.json
  src/app/client.tsx
  src/app/server.tsx
  src/index.ts
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

refactor: naming in the server-side code
  src/app/server.tsx
  src/index.ts
Due: prettier --write --config .prettierrc

feat: remove unnecessary files
  src/api/index.ts
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/session/index.ts
  src/entities/session/model.ts
  src/index.ts
  src/pages/card/view/index.tsx
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

feat: add framework to git
  src/framework/.github/release-drafter.yml
  src/framework/.github/workflows/build.yml
  src/framework/.github/workflows/npm.yml
  src/framework/.github/workflows/release-drafter.yml
  src/framework/src/browser-application.ts
  src/framework/src/contract/contract.test.ts
  src/framework/src/contract/index.ts
  src/framework/src/contract/readme.md
  src/framework/src/default-domain.ts
  src/framework/src/hatch.ts
  src/framework/src/index.ts
  src/framework/src/navigation.ts
  src/framework/src/server-application.ts
  src/framework/tests/browser/fixtures/internal.ts
  src/framework/tests/browser/fixtures/page-another.tsx
  src/framework/tests/browser/fixtures/page1.tsx
  src/framework/tests/browser/routing-with-chunks.test.tsx
  src/framework/tests/browser/routing.test.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

feat: add framework to git
  src/app/client.tsx
  src/app/server.tsx
  src/framework/src/browser-application.ts
  src/framework/src/contract/contract.test.ts
  src/framework/src/contract/index.ts
  src/framework/src/hatch.ts
  src/framework/src/navigation.ts
  src/framework/src/server-application.ts
  src/framework/tests/browser/routing.test.tsx
Due: prettier --write --config .prettierrc

feat: remove console.log
  src/app/server.tsx
  src/pages/card/view/model.ts
Due: prettier --write --config .prettierrc

refactor(app): rewriting client hatch logic
  .babelrc
  package.json
  src/app/client.tsx
  src/app/server.tsx
  src/pages/card/view/model.ts
  src/pages/home/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: running logic for each page
  .babelrc
  package.json
  src/api/request/base.ts
  src/app/client.tsx
  src/app/server.tsx
  src/entities/navigation/index.ts
  src/pages/card/create/model.ts
  src/pages/card/edit/model.ts
  src/pages/card/edit/page.tsx
  src/pages/card/view/model.ts
  src/pages/card/view/page.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/oauth-done/model.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/model.ts
  src/pages/user/page.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

build: add transport mjs
  Dockerfile
Due: none

fix: resolving transport for pino in docker container
  Dockerfile
  package.json
  src/api/internal/index.gen.ts
  src/app/application.test.tsx
  src/app/server.tsx
  src/entities/card/model/index.ts
  src/entities/search/model.ts
  src/entities/session/accesso.ts
  src/entities/session/molecules/session-panel.model.ts
  src/entities/user/model/index.ts
  src/features/card/draft/model.ts
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/search-bar/models/index.ts
  src/lib/contract/readme.md
  src/lib/logger/index.ts
  src/pages/card/view/page.tsx
  worker/transport.mjs
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: listen to all external networks instead of loopback only
  src/index.ts
Due: prettier --write --config .prettierrc

improve styles for home page
  src/entities/session/molecules/session-panel.tsx
  src/features/card/draft/ui/atoms/tags.tsx
  src/pages/home/page.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/toast.tsx
  src/ui/icons/arrow-right.svg
  src/ui/icons/index.ts
  src/ui/templates/content-centered.tsx
Due: prettier --write --config .prettierrc

BOX-219: @doc: update get-started section
  .env.sample
  README.md
Due: none

BOX-219: @doc: update dev-guidelines section
  README.md
Due: none

BOX-219: @doc: update env
  README.md
Due: none

BOX-219: @chore: add clean command
  package.json
Due: prettier --write --parser json --config .prettierrc

BOX-219: @chore: add pseudo auth
  README.md
  src/app/client.tsx
Due: prettier --write --config .prettierrc

feature/BOX-217: add user avatar and user name to search-bar
  src/features/search-bar/organisms/search-bar.tsx
Due: prettier --write --config .prettierrc

fix(features/card): tags crash
  src/features/card/draft/ui/atoms/tags.tsx
Due: prettier --write --config .prettierrc

feature/BOX-217: fix review comments
  src/features/search-bar/organisms/search-bar.tsx
  src/ui/atoms/avatar.tsx
Due: prettier --write --config .prettierrc

BOX-219: Update get-started usecase (#64)
  .env.sample
  README.md
  package.json
  src/app/client.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

BOX-217: add user avatar and user name to search-bar (#63)
  src/features/search-bar/organisms/search-bar.tsx
  src/ui/atoms/avatar.tsx
Due: prettier --write --config .prettierrc

improve styles for pages: home, card, user
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/molecules/session-panel.tsx
  src/entities/user/ui/user-card.tsx
  src/features/card/draft/ui/atoms/reset-changes.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/card/draft/ui/molecules/index.tsx
  src/features/search-bar/molecules/search.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/view/page.tsx
  src/pages/user/page.tsx
  src/pages/user/skeleton.tsx
  src/ui/atoms/avatar.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/input.tsx
  src/ui/atoms/skeleton.tsx
  src/ui/icons/edit.svg
  src/ui/icons/index.ts
Due: prettier --write --config .prettierrc

update buttons theme and icons
  package.json
  razzle.config.js
  src/entities/card/organisms/card-preview.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/view/page.tsx
  src/pages/home/page.tsx
  src/pages/user/page.tsx
  src/ui/atoms/button.tsx
  src/ui/icons/deck-arrow.svg
  src/ui/icons/deck-check.svg
  src/ui/icons/edit.svg
  src/ui/icons/index.ts
  src/ui/molecules/chip.tsx
  typings/index.d.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(ui): update shadows according design
  src/entities/card/organisms/card-preview.tsx
  src/entities/user/ui/user-card.tsx
  src/entities/user/ui/user-preview.tsx
  src/lib/theme.ts
  src/pages/comments/index.tsx
  src/pages/user/page.tsx
  src/pages/user/skeleton.tsx
  src/ui/atoms/skeleton.tsx
  src/ui/atoms/toast.tsx
Due: prettier --write --config .prettierrc

fix(ui): more icon in toast
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

fix review comments
  src/entities/card/organisms/card-preview.tsx
  src/features/card/draft/ui/atoms/tag-input.tsx
  src/pages/card/view/page.tsx
  src/ui/atoms/button.tsx
  src/ui/icons/index.ts
Due: prettier --write --config .prettierrc

refactor(pages/user): use local store instead of global currentUser
  .babelrc
  .babelrc.js
  package.json
  src/app/application.tsx
  src/app/client.tsx
  src/entities/session/molecules/session-panel.tsx
  src/entities/user/lib.ts
  src/entities/user/model/index.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/lib/page-routing.ts
  src/pages/user/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

Path conditions:
  prettier --write --config .prettierrc: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json --config .prettierrc: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
