Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat: add authorization and generate card data
  package.json
  src/api/index.ts
  src/entities/card/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/organisms/index.ts
  src/entities/session/access.ts
  src/entities/session/authorization.tsx
  src/entities/session/index.ts
  src/entities/session/model.ts
  src/pages/card/index.tsx
  src/pages/paths.ts
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat: preload card
  .babelrc
  package.json
  src/api/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/access.ts
  src/entities/session/current-user.tsx
  src/entities/session/index.ts
  src/lib/contract/contract.test.ts
  src/lib/page-routing.ts
  src/pages/card/index.ts
  src/pages/card/index.tsx
  src/pages/card/model.ts
  src/pages/card/page.tsx
  src/pages/user/index.tsx
  src/ui/organisms/user-card.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): card loading bug, add json-server for mocks
  .gitignore
  package.json
  src/api/index.ts
  src/api/json-server.js
  src/app/client.tsx
  src/entities/navigation/index.ts
  src/lib/contract/index.ts
  src/pages/card/contract.ts
  src/pages/card/index.ts
  src/pages/card/model.ts
  src/pages/card/page.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

docs: add info how to run with mocks
  README.md
Due: none

feat(pages/search): adds search page, adds ability to search
  .gitignore
  package.json
  src/entities/card/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/entities/user/index.ts
  src/entities/user/organisms/index.ts
  src/entities/user/organisms/user-preview-list.tsx
  src/entities/user/organisms/user-preview.tsx
  src/entities/user/types.ts
  src/features/search-bar/index.ts
  src/features/search-bar/lib.ts
  src/features/search-bar/models/index.ts
  src/features/search-bar/models/login.ts
  src/features/search-bar/molecules/search.tsx
  src/features/search-bar/organisms/profile.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/lib/get-s-end.ts
  src/lib/use-query.ts
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/search/index.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/ui/atoms/avatar.tsx
  src/ui/atoms/button.tsx
  src/ui/templates/card-container.ts
  src/ui/templates/content-centered.tsx
  src/ui/templates/index.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(pages/search): fixes empty query
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

fix(pages/search): plural function
  src/entities/user/organisms/user-preview.tsx
  src/lib/get-s-end.ts
  src/lib/plural.ts
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

feat: added profile page and card layouts
  src/app/application.tsx
  src/entities/card/model.ts
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/features/tabs/index.ts
  src/features/tabs/molecules/index.ts
  src/features/tabs/molecules/tab.tsx
  src/features/tabs/molecules/tabs.tsx
  src/features/tabs/molecules/title.tsx
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/user/index.tsx
  src/ui/atoms/button.tsx
  src/ui/icons/default_userlogo.svg
  src/ui/icons/index.ts
  src/ui/icons/like.svg
  src/ui/icons/save.svg
  src/ui/icons/user_bg.svg
Due: prettier --write --config .prettierrc

fix: added some
  src/entities/card/organisms/card-preview.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/ui/atoms/button.tsx
Due: prettier --write --config .prettierrc

fix: added some
  src/entities/card/model.ts
Due: prettier --write --config .prettierrc

fix(pages): suggestions from review
  .babelrc
  package.json
  src/entities/user/index.ts
  src/features/search-bar/index.ts
  src/features/search-bar/models/index.ts
  src/pages/search/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): use-query package
  package.json
  src/app/application.tsx
  src/features/search-bar/lib.ts
  src/lib/use-query.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(pages): search page
  package-lock.json
  package.json
  src/app/application.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/user/lib.ts
  src/entities/user/organisms/user-preview-list.tsx
  src/entities/user/organisms/user-preview.tsx
  src/entities/user/types.ts
  src/features/search-bar/lib.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/lib/plural.ts
  src/pages/card/index.tsx
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/text.tsx
  src/ui/icons/deck-arrow.svg
  src/ui/icons/deck-check.svg
  src/ui/icons/index.ts
  src/ui/icons/logo.svg
  src/ui/templates/card-container.ts
  src/ui/templates/index.ts
  src/ui/templates/paper-container.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

chore: update .gitignore
  .gitignore
Due: none

Create linear-linker.yml
  .github/workflows/linear-linker.yml
Due: none

ci(docker-image): fix push to correct org
  .github/workflows/docker-image.yml
Due: none

Create CHOREd
  CHOREd
Due: none

Update linear-linker.yml
  .github/workflows/linear-linker.yml
Due: none

Rename CHOREd to CHORE
  CHORE
Due: none

feat(ui/templates): header - changes color of button
  src/app/application.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/text.tsx
Due: prettier --write --config .prettierrc

fix(app): review suggestions
  src/features/search-bar/models/index.ts
  src/pages/search/page.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

Delete package-lock.json
  package-lock.json
Due: prettier --write --parser json --config .prettierrc

Delete CHORE
  CHORE
Due: none

BOX-131 Check PR (#29)
  .github/workflows/linear-linker.yml
Due: none

Create CHROE
  CHROE
Due: none

Delete CHROE
  CHROE
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

BOX-134 BOX-135 Create CHROE (#31)
  .github/pull_request_template.md
  .github/workflows/linear-linker.yml
Due: none

chore(mock-api): install miragejs
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

Path conditions:
  prettier --write --config .prettierrc: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json --config .prettierrc: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
