Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

ci: setup github actions
  .github/pr-labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/docker-image.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Due: none

style(eslint): fix eslint-typescript configuration
  .eslintrc
  README.md
  tsconfig.json
Due: prettier --write --parser json

style: add import-sort
  .eslintrc
  .lintstagedrc
  .prettierrc
  configs/eslint-config.json
  package.json
  src/application.test.tsx
  src/application.tsx
  src/client.tsx
  src/index.ts
  src/pages/home/index.tsx
  src/pages/index.ts
  src/pages/routes.ts
  src/server.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

chore: add cross-env
  package.json
  yarn.lock
Due: prettier --write --parser json

build(docker): add dockerimage
  .dockerignore
  Dockerfile
Due: none

config: move local eslint config to .config
  .config/eslint-config.json
  .eslintrc
Due: prettier --write --parser json

style: add commitizen with custom generated config
  .commitlintrc.json
  .cz-config.js
  package.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

fix(server): import performance
  src/server.tsx
Due: prettier --write

style: temporary disable commitlint
  .huskyrc
Due: prettier --write --parser json

fix(pages): paddings for questions
  src/pages/comments/comments.tsx
Due: prettier --write

feat(pages): add comments page with questions and answers
  package.json
  src/application.css
  src/application.tsx
  src/pages/comments/comments.tsx
  src/pages/comments/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(features/searchbar): add searchbar feature
  src/application.tsx
  src/features/searchbar/index.ts
  src/features/searchbar/molecules/index.ts
  src/features/searchbar/molecules/search.tsx
  src/features/searchbar/organisms/index.ts
  src/features/searchbar/organisms/searchbar.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/index.ts
  src/ui/icons/index.ts
  src/ui/icons/logo.svg
  src/ui/index.ts
Due: prettier --write

feat(features/cards): add cards feature
  src/application.tsx
  src/features/cards/index.ts
  src/features/cards/organisms/card-preview.tsx
  src/features/cards/organisms/index.ts
  src/features/searchbar/molecules/search.tsx
  src/features/searchbar/organisms/searchbar.tsx
  src/pages/home/index.tsx
  src/ui/index.ts
  src/ui/templates/content-centered.jsx
  src/ui/templates/index.ts
Due: prettier --write

feat(features/cards): feat(features/cards): correction
  src/features/cards/organisms/card-preview.tsx
  src/features/searchbar/organisms/searchbar.tsx
  src/pages/home/index.tsx
  src/ui/templates/content-centered.jsx
  src/ui/templates/content-centered.tsx
  src/ui/templates/index.ts
Due: prettier --write

feat(features/oauth): just jsx
  src/features/oauth/components/index.ts
  src/features/oauth/components/login-button.tsx
  src/features/oauth/index.ts
  src/features/searchbar/organisms/searchbar.tsx
  src/pages/oauth/done/index.tsx
Due: prettier --write

feat(pages/user): feat(features/oauth): just jsx
  src/application.tsx
  src/features/cards/organisms/card-list.tsx
  src/features/cards/organisms/card-preview.tsx
  src/features/cards/organisms/index.ts
  src/features/cards/types.ts
  src/features/searchbar/organisms/searchbar.tsx
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/ui/atoms/avatar.tsx
  src/ui/atoms/index.ts
Due: prettier --write

Add user page (#20)
  src/application.tsx
  src/features/cards/organisms/card-list.tsx
  src/features/cards/organisms/card-preview.tsx
  src/features/cards/organisms/index.ts
  src/features/cards/types.ts
  src/features/searchbar/organisms/searchbar.tsx
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/ui/atoms/avatar.tsx
  src/ui/atoms/index.ts
Due: prettier --write

feat(pages): add view card page
  src/pages/card/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/user/index.tsx
  src/ui/index.ts
  src/ui/organisms/index.ts
  src/ui/organisms/user-card.tsx
Due: prettier --write

feat(app): add tls cert and keys for localhost:3005
  scripts/create-certs.sh
  tls/cardbox.crt
  tls/cardbox.key
Due: none

feat: add https, dotenv
  .env
  .env.sample
  .eslintrc
  .gitignore
  package.json
  src/index.ts
  src/server.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(app): remove express
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

Revert "feat(app): remove express"
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(app): load session, wait for cookies, and send requests
  .env
  .env.sample
  .gitignore
  package.json
  src/api/request/base.ts
  src/api/request/client.ts
  src/api/request/index.ts
  src/api/request/server.ts
  src/application.tsx
  src/client.tsx
  src/features/navigation/index.ts
  src/features/searchbar/models/login.ts
  src/features/searchbar/organisms/profile.tsx
  src/features/searchbar/organisms/searchbar.tsx
  src/features/session/accesso.ts
  src/features/session/index.ts
  src/features/session/model.ts
  src/index.ts
  src/lib/effector.ts
  src/lib/page-routing.ts
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/server.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(app): add helmet to set meta tags
  .config/eslint-config.json
  package.json
  razzle.config.js
  src/application.tsx
  src/client.tsx
  src/server.tsx
  typings/through.d.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(pages): add accesso done page
  package.json
  src/api/accesso.ts
  src/features/searchbar/models/login.ts
  src/features/searchbar/organisms/searchbar.tsx
  src/features/session/accesso.ts
  src/features/session/index.ts
  src/lib/page-routing.ts
  src/pages/accesso/done/index.tsx
  src/pages/accesso/done/model.ts
  src/pages/paths.ts
  src/pages/routes.ts
  src/server.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(app): upgrade dependencies to fix ts problems
  package.json
  yarn.lock
Due: prettier --write --parser json

refactor(features/session): pass current page as state to accesso url request
  src/api/accesso.ts
  src/api/request/base.ts
  src/features/session/accesso.ts
Due: prettier --write

feat(ui/atoms): add full loader to show some pending process
  src/features/session/accesso.ts
  src/pages/accesso/done/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/loader-full.tsx
Due: prettier --write

feat(pages): show loader and curent user info after
  package.json
  src/api/accesso.ts
  src/lib/postpone.ts
  src/pages/accesso/done/index.tsx
  src/pages/accesso/done/model.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(lib): add postpone operator
  src/lib/postpone.test.ts
  src/lib/postpone.ts
Due: prettier --write

feat(pages): implement accesso done page
  package.json
  src/features/navigation/index.ts
  src/features/searchbar/models/login.ts
  src/features/searchbar/organisms/profile.tsx
  src/features/session/model.ts
  src/pages/accesso/done/model.ts
  src/ui/atoms/index.ts
  src/ui/atoms/loader-accesso.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(pages): finalize done page with session saving
  .babelrc
  src/api/request/base.ts
  src/features/searchbar/models/login.ts
  src/features/searchbar/organisms/profile.tsx
  src/features/session/accesso.ts
  src/features/session/index.ts
  src/features/session/model.ts
  src/lib/effector-config.ts
  src/lib/postpone.ts
  src/pages/accesso/done/index.tsx
  src/pages/accesso/done/model.ts
  src/ui/atoms/loader-accesso.tsx
  src/ui/organisms/user-card.tsx
Due: prettier --write

feat(app): upgrade dependencies
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --parser json

refactor: to feature-sliced methodology
  .eslintrc
  README.md
  package.json
  razzle.config.js
  src/app/application.test.tsx
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/client.ts
  src/entities/card/index.ts
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/organisms/index.ts
  src/entities/card/types.ts
  src/entities/navigation/index.ts
  src/entities/session/accesso.ts
  src/entities/session/index.ts
  src/entities/session/model.ts
  src/features/search-bar/index.ts
  src/features/search-bar/models/login.ts
  src/features/search-bar/molecules/index.ts
  src/features/search-bar/molecules/search.tsx
  src/features/search-bar/organisms/index.ts
  src/features/search-bar/organisms/profile.tsx
  src/features/search-bar/organisms/search-bar.tsx
  src/features/searchbar/organisms/index.ts
  src/index.ts
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/user/index.tsx
  src/ui/organisms/user-card.tsx
  tls/cardbox.crt
  tls/cardbox.key
  tsconfig.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

refactor: to contract and faker based api
  package.json
  src/api/index.ts
  src/api/request/base.ts
  src/lib/contract/contract.test.ts
  src/lib/contract/index.ts
  src/lib/contract/readme.md
  src/lib/page-routing.ts
  src/pages/home/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/home/types.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat: run start event on route changed, not on first render
  .prettierrc
  src/api/request/base.ts
  src/api/request/index.ts
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/types.ts
  src/entities/navigation/index.ts
  src/entities/session/model.ts
  src/lib/contract/contract.test.ts
  src/lib/page-routing.ts
  src/pages/card/index.tsx
  src/pages/comments/comments.tsx
  src/pages/comments/index.tsx
  src/pages/home/page.tsx
  src/pages/user/index.tsx
  tsconfig.json
Due: prettier --write, prettier --write --parser json

feat: add i18n to localize dates
  Dockerfile
  package.json
  src/api/index.ts
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/i18n/index.tsx
  src/lib/dates.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

fix(lib/dates): fix Sep to Sept in en-GB locale
  src/entities/i18n/index.tsx
  src/lib/dates.ts
Due: prettier --write

feat(entities/i18n): add relative date view
  src/entities/card/organisms/card-preview.tsx
  src/entities/i18n/index.tsx
  src/lib/dates.ts
Due: prettier --write

feat(api): cache cards
  src/api/index.ts
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
