Repository cardbox/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write --config .prettierrc"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc",
    "git add"
  ]
}

feat(mock-api): init
  src/api/mock/fixtures.ts
  src/api/mock/index.ts
  src/api/types.ts
  src/app/client.tsx
Due: prettier --write --config .prettierrc

feat(mock-api): add and refine other routes
  src/api/mock/index.ts
Due: prettier --write --config .prettierrc

feat(mock-api): minor refinements
  src/api/mock/index.ts
  src/api/types.ts
Due: prettier --write --config .prettierrc

chore(mock-api): install axios
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

feat(mock-api): add local client for api access
  src/api/internal/index.ts
  src/api/mock/index.ts
Due: prettier --write --config .prettierrc

fix(app): replace @cardbox with @box
  package.json
  razzle.config.js
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/model.ts
  src/features/search-bar/models/index.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/ui/organisms/user-card.tsx
  tsconfig.json
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(entities): add @cardbox/editor
  package.json
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/types.ts
  src/pages/home/index.tsx
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): replace @cardbox with @box (#33)
  package.json
  razzle.config.js
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/model.ts
  src/features/search-bar/models/index.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/ui/organisms/user-card.tsx
  tsconfig.json
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(entities): add @cardbox/editor
  src/entities/card/organisms/card-preview.tsx
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

fix(entities): fix things
  src/entities/card/organisms/card-preview.tsx
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/pages/search/model.ts
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc

style(app): format
  src/pages/home/index.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

feat(entities): add @cardbox/editor
  package.json
  src/api/request/base.ts
  src/entities/card/constants/content.ts
  src/entities/card/constants/index.ts
  src/entities/card/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/types.ts
  src/pages/card/index.tsx
  src/pages/comments/comments.tsx
  src/pages/home/index.tsx
  src/pages/search/model.ts
  src/pages/user/index.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): fix reflext and package
  .gitignore
  package-lock.json
  src/features/search-bar/molecules/search.tsx
  src/pages/search/page.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(app): fixed ssr for reflect in one place
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

feat(mock-api): add cards mocking
  src/api/index.ts
  src/api/internal/index.ts
  src/entities/card/index.ts
  src/entities/card/model/index.ts
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/card/types.ts
  src/pages/card/index.tsx
  src/pages/card/model.ts
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/pages/user/model.ts
Due: prettier --write --config .prettierrc

feat(mock-api): refine card fixtures
  src/api/mock/fixtures.ts
Due: prettier --write --config .prettierrc

feat(mock-api): refine card UI (dates + adapt for latest design)
  package.json
  src/api/mock/fixtures.ts
  src/entities/card/organisms/card-preview.tsx
  src/pages/home/index.tsx
  src/ui/atoms/text.tsx
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(cards): add behaviour for cards + routing
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/pages/home/index.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

feat(home): adapt for new design
  src/app/application.tsx
  src/pages/home/index.tsx
  src/pages/search/page.tsx
  src/ui/atoms/button.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/text.tsx
  src/ui/atoms/toast.tsx
Due: prettier --write --config .prettierrc

feat(home): adapt for new design
  src/pages/home/index.tsx
Due: prettier --write --config .prettierrc

feat(home): adapt for new design (with skeletons)
  src/app/application.tsx
  src/entities/card/organisms/card-list.tsx
  src/pages/home/index.tsx
  src/pages/user/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/skeleton.tsx
Due: prettier --write --config .prettierrc

feat(card-preview): add skeleton logic
  src/entities/card/organisms/card-preview.tsx
  src/pages/card/index.tsx
Due: prettier --write --config .prettierrc

feat(mock-api): update users fixtures
  src/api/mock/fixtures.ts
Due: prettier --write --config .prettierrc

feat(mock-api): add search.list endpoints
  src/api/internal/index.ts
  src/api/mock/index.ts
Due: prettier --write --config .prettierrc

feat(mock-api): connect mock with search results (+ refine mock fixtures)
  src/api/internal/index.ts
  src/api/mock/fixtures.ts
  src/api/mock/index.ts
  src/entities/card/index.ts
  src/entities/card/types.ts
  src/entities/user/organisms/user-preview-list.tsx
  src/entities/user/organisms/user-preview.tsx
  src/entities/user/types.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
Due: prettier --write --config .prettierrc

feat(card): add link to profile
  src/pages/card/index.tsx
  src/ui/organisms/user-card.tsx
Due: prettier --write --config .prettierrc

chore(imports): replace @cardbox to @box aliase (premerge step)
  src/app/application.tsx
  src/app/client.tsx
  src/app/server.tsx
  src/entities/card/model/index.ts
  src/entities/card/organisms/card-list.tsx
  src/entities/card/organisms/card-preview.tsx
  src/entities/session/model.ts
  src/entities/user/organisms/user-preview-list.tsx
  src/entities/user/organisms/user-preview.tsx
  src/features/search-bar/models/index.ts
  src/features/search-bar/organisms/search-bar.tsx
  src/pages/card/index.tsx
  src/pages/card/model.ts
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/search/model.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
  src/pages/user/model.ts
  src/ui/organisms/user-card.tsx
Due: prettier --write --config .prettierrc

Merge master into feat/add-mock-api
  package.json
  razzle.config.js
  src/entities/card/organisms/card-preview.tsx
  tsconfig.json
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

Merge branch 'master' into feat/add-mock-api
  src/pages/search/model.ts
Due: prettier --write --config .prettierrc

style(lint): run eslint (clrf => lf)
  .eslintrc
  .gitattributes
  .gitconfig
  package.json
  src/api/request/base.ts
  src/entities/card/organisms/card-preview.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

review(mock-api): fix layout width
  src/pages/card/index.tsx
  src/pages/home/index.tsx
  src/ui/templates/content-centered.tsx
Due: prettier --write --config .prettierrc

review(mock-api): simplify paths.card usage
  src/pages/home/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/search/page.tsx
  src/pages/user/index.tsx
Due: prettier --write --config .prettierrc

review(mock-api): apply suggestion (array generation)
  src/ui/atoms/skeleton.tsx
Due: prettier --write --config .prettierrc

review(mock-api): adapt editor usage
  src/api/mock/fixtures.ts
  src/entities/card/constants/content.ts
  src/entities/card/constants/index.ts
  src/entities/card/index.ts
  src/entities/card/organisms/card-preview.tsx
  src/lib/editor.ts
Due: prettier --write --config .prettierrc

review(mock-api): simplify loading skeletons usage
  src/entities/card/organisms/card-list.tsx
  src/entities/user/organisms/user-preview-list.tsx
Due: prettier --write --config .prettierrc

review(mock-api): remove axios
  package.json
  src/api/internal/index.ts
  src/api/mock/index.ts
  src/api/request/base.ts
  src/api/request/client.ts
  src/entities/card/model/index.ts
  src/pages/search/model.ts
  yarn.lock
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc
